* {
  margin: 0;
}

body {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  font-family: verdana;
  background-color: white;
  border: solid 1px;
  height: 37rem;
  width: 20rem;
  display: grid;
  grid-template-rows: repeat(27, 1fr);
  border-radius: 15px;
  font-family: "Arial Black", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

.heading {
  border-top-left-radius: 11px;
  border-top-right-radius: 10px;

  grid-row: span 3;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.emptyhr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainarea {
  grid-row: span 10;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.endarea {
  grid-row: span 4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.lowbare {
  grid-row: 24/26;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image_container {
  padding-top: 0.5em;
  padding-right: 0.4em;
  border-top-left-radius: 12px;

  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container {
  border-top-right-radius: 11px;
  grid-column: span 8;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.title {
  padding-top: 1em;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}
.smalltxt {
  font-size: 0.8rem;
}

.personaldata {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}
.messages {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}
.notifications {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}
.location {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.community {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.faq {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}
.settings {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.home {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.idk1 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.idk2 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.idk3 {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.image {
  height: 80%;
  aspect-ratio: 1;
  border-radius: 13px;
  background-image: url(/day1/profile.jpg);
  background-position: center;
  background-size: cover;
}

.svg1 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}

.svg2 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}
.svg3 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}
.svg4 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}
.svg5 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}
.svg6 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}
.svg7 {
  background-color: rgb(128, 126, 126);
  grid-column: 2/5;
  margin: 5%;
  border-radius: 9px;
}

.headering {
  background-color: white;
  grid-column: span 14;
  margin: 5%;
}

.buttonarw {
  margin: 5%;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-family: "Arial Black", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
}

.hrh {
  margin-top: 5%;
  height: 100%;
  width: 80%;
}

.buttonarw:hover {
  background-color: rgb(248, 247, 245);
}

.svgholder {
  grid-row: span 3;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea {
  text-align: center;
}

.img {
  background-color: rgb(128, 126, 126);
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
}
