* {
  margin: 0;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(255, 255, 255);
  height: 32rem;
  width: 40rem;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0px;
  border: solid 2px;
  overflow: hidden;
}

.sidebar {
  padding-top: 1.1em;
  background-color: white;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  grid-column: span 1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.main_area {
  background-color: blueviolet;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  display: grid;
  grid-column: span 9;
  grid-template-columns: repeat(10, 1fr);
}

.image_container {
  grid-column: span 4;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container {
  grid-column: span 6;
  background-color: white;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.image {
  margin-top: 2em;
  background-color: white;
  width: 14rem;
  height: 20rem;
  border-radius: 5px;
  background-image: url(burgir1.jpg);
  background-position: center;
  background-size: cover;
}

.product_name {
  grid-row: 2;
  background-color: white;
}

.product_desc {
  grid-row: 3/5;
  background-color: rgb(255, 255, 255);
}

.product_desc_small {
  grid-row: 5;
  background-color: rgb(255, 255, 255);
}

.price {
  background-color: rgb(255, 255, 255);
  grid-row: 6/7;
}

.small_price {
  background-color: rgb(255, 255, 255);
  grid-row: 7;
}

.size {
  background-color: rgb(255, 255, 255);
  grid-row: 8/10;
  padding: 1em;
}
.size h2 {
  margin: 0.25em;
}

.addtobag {
  background-color: rgb(255, 255, 255);
  grid-row: 10;
  border-bottom-right-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  border-radius: 5px;
  margin: 5%;
  background-color: white;
  grid-row: 2;
  background-image: url(burgir1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid;
}

.img1:hover {
  border-color: brown;
}

.img2 {
  border-radius: 5px;
  margin: 5%;
  background-color: white;
  grid-row: 3;
  background-image: url(burgir2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid;
}

.img2:hover {
  border-color: brown;
}

.img3 {
  border-radius: 5px;
  margin: 5%;
  background-color: white;
  grid-row: 4;
  border: solid;
  background-image: url(burgir3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img3:hover {
  border-color: brown;
}

.sizeing {
  aspect-ratio: 1/1;
  background-color: black;
  border: solid 2px;
  width: 2em;
  color: white;
  font-family: verdana;
}

.btn {
  height: 2rem;
  width: 20rem;
  border-radius: 15px;
  background-color: aqua;
  font-family: verdana;
  color: white;
  font-size: 20px;
}
